<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dokonane adopcje</title>
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>

<div id="content">
    <div th:each="request: ${finishedrequests}" class="dog">
        <div th:text="${request.getDate()}" class="name"></div>
        <div th:each="dog: ${request.getRequestList()}" class="adopted-dog">
            <div th:text="${dog.getName()}" class="name"></div>
            <div th:text="${dog.getBreed()}" class="breed"></div>
        </div>

    </div>
</div>
</body>
</html>
